@charset "utf-8";
@import '~antd/dist/antd.css';
.Home{
    .Home_header{
        width: 100%;
        height: 5rem;
        background: red;
        font-size: 1.6rem;
        position: fixed;
        left: 0;
        top: 0;
        .header_l{
            width: 20%;
            height: 5rem;
            float: left;
            color: #FFFFFF;
            line-height: 5rem;
            text-align: center;
            
        }
        .header_c{
            width: 60%;
            height: 5rem;
            float: left;
            text-align: center;
            .header_c_box{
                width: 100%;
                height: 3rem;
                background: #FFFFFF;
                margin-top: 1rem;
                line-height: 3rem;
                border-radius: 5px;
                .iconfont{
                    width: 10%;
                    line-height: 3rem;
                    font-size: 1.8rem;
                    float: left;
                    text-align: center;
                }
                input{                    
                    width: 85%;
                    height: 3rem;
                    border: none;
                    float: left;
                    padding-left: 10px;
                    
                }
            }
            
        }
        .header_r{
            width: 20%;
            height: 5rem;
            float: left;
            color: #FFFFFF;
            line-height: 5rem;
            text-align: center;
            .iconfont{
                font-size: 1.6rem;
                margin-left: 15%;
            }
        }
    }
    .Home_swiper{
        width: 100%;
        height: 20rem;
        margin-top: 5rem;
         .ant-carousel{
            height: 20rem;
           .slick-slide {
                text-align: center;
                height: 20rem;
                background: #364d79;
                
            } 
        } 
    }
    .Home_list{
        width: 100%;
        height: 20rem;
    }
    .Home_product{
        width: 100%;
        .product_title{
            width: 100%;
            height: 4rem;
            line-height: 4rem;
            font-size: 1.8rem;
            padding-left: 10px;
            span{
                float: right;
                padding-right: 10px;
                color: #d89833;
                font-size: 1.4rem;
            }
        }
        dl{
           width: 44%;
           float: left;
           margin-left: 4%;
            
            dt{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            dd{
                h3{
                    width: 100%;
                    height: 2rem;
                    line-height: 2rem;
                    font-size: 1.6rem;
                    font-weight: 100;
                    color: #000000;
                }
                p{
                    height: 3rem;
                    line-height: 3rem;
                    color: red;
                    font-size: 1.6rem;
                    span{
                        float: right;
                        padding-right: 10px;
                        font-size: 1.4rem;
                        line-height: 4rem;
                        color: #e0e0e0;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}