/*-----------------------底部ul样式初步---------------------*/
#footer{
	list-style: none;
	width: 100%;
	height: 5rem;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #FFFFFF;
	border-top: 1px solid #EEEEEE;
}
#footer li{
	float: left;
	width: 25%;
	text-align: center;
	height: 5rem;
	margin-top: 1rem;
	color: #8a8a8a
	
}
#footer li a{
	color: #8a8a8a
}
#footer li .iconfont{
	font-size: 1.8rem;
	color: #8a8a8a !important;
	margin-bottom: 5px;
}
/*--------------------------------------------------------------*/